.style1 {
	border: 1px solid #AEAEAE;
	border-top: none;
	width: 110px;
	background-color: #E0EBFF;
	text-align: right;
	font-size: 13px;
	text-valign: center;
}

.style2 {
	border: 1px solid #AEAEAE;
	border-top: none;
	width: 500px;
	padding: 5px;
}

table.FormView {
	background-color: #bfbfbf;
	width: 100%;
}

table.FormView td {
	padding: 3px 5px;
}

table.FormView col.Label {
	text-align: right;
	width: 15%;
	font-weight: bold;
	background-color: rgb(224, 235, 255);
}

table.FormView col.Data {
	text-align: left;
	width: 35%;
	background-color: white;
}

.maintop1 {
	width: 465px;
	height: 45px;
	margin: 0;
	float: left;
}

.maintop2 {
	height: 45px;
	min-width: 980px;
	width: expression(document.body.clientWidth < 982 ? "980px" :
		document.body.clientWidth > 1282 ? "1280px" : "auto");
	background: url(images/banner_02.png) repeat 0 0 #FFF;
	margin: 0;
}

.maintop3 {
	width: 63px;
	height: 45px;
	background: url(images/banner_03.png) no-repeat 0 0 #FFF;
	margin: 0;
	float: left;
}

.maintop4 {
	font-family: '����', Courier New, monospace;
	width: 250px;
	height: 21px;
	line-height: 21px;
	font-size: 13px;
	background: url(images/banner_04.png) repeat 0 0 #FFF;
	padding: 12px 0;
	margin: 0;
	float: left;
}

.maintop5 {
	width: 20px;
	height: 45px;
	background: url(images/banner_05.png) no-repeat 0 0 #FFF;
	margin: 0;
	float: left;
}

.maintop6 {
	width: 100%;
	height: 30px;
	background: url(images/banner_06.png) repeat 0 0 #FFF;
}

.style1 {
	border: 1px solid #AEAEAE;
	border-top: none;
	width: 110px;
	background-color: #E0EBFF;
	text-align: right;
	font-size: 13px;
	text-valign: center;
}

.style2 {
	border: 1px solid #AEAEAE;
	border-top: none;
	width: 500px;
	padding: 5px;
}

.labelstyle {
	font-family: "微软雅黑";
	font-size: 16px;
	margin-top: 3px;
	margin-left: 5px;
}

.labelstyle label {
	width: 100px;
	heigth: 20px;
	line-height: 30px;
	background: #e0ecff none repeat scroll 0 0;
	display: inline-block;
	text-align: right;
}

.labelstyle input {
	width: 150px;
	height: 20px;
	line-height: 20px;
}